* {
    font-size: 14px;
    border-radius: 5px;
}

window#waybar {
    font-family: "JetBrains Mono", "JetBrainsMono Nerd Font", monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #ebdbb2;
    animation: oled-shift 120s linear infinite;
}

@keyframes oled-shift {
    0% {
        padding-left: 0px;
        padding-top: 0px;
    }
    25% {
        padding-left: 2px;
        padding-top: 0px;
    }
    50% {
        padding-left: 2px;
        padding-top: 2px;
    }
    75% {
        padding-left: 0px;
        padding-top: 2px;
    }
    100% {
        padding-left: 0px;
        padding-top: 0px;
    }
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    border: none;
}

#workspaces {
    background-color: #282828;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #d79921;
}

/* Hyprland uses .active instead of .focused */
#workspaces button.active {
    background-color: #665c54;
}

#workspaces button.urgent {
    background-color: #b16286;
}

#idle_inhibitor,
#cava,
#submap,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load,
#language,
#custom-power-profile {
    padding: 0 10px;
    background-color: #282828;
    color: #ebdbb2;
}

#submap {
    background-color: #689d6a;
    color: #282828;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cava {
    padding: 0 5px;
}

#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    background-color: #d79921;
    color: #282828;
}

#tray menu {
    font-family: sans-serif;
}
