font-family = "IosevkaTerm Nerd Font"
{{- if eq .chezmoi.os "darwin" }}
font-size = 17
{{- else }}
font-size = 14
{{- end }}

theme = catppuccin-mocha
macos-option-as-alt = true

window-padding-x = 6
window-padding-balance = true
