term = xterm-256color
theme = Gruvbox Dark Hard
background-opacity = 0.9
font-family = "IosevkaTerm Nerd Font Mono"
{{- if eq .chezmoi.os "darwin" }}
font-size = 16
{{- else }}
font-size = 12
{{- end }}

# Thai language font fallback
# font-family-bold = "JetBrainsMono Nerd Font"
# font-family-italic = "JetBrainsMono Nerd Font"
# font-family-bold-italic = "JetBrainsMono Nerd Font"
# font-codepoint-map = U+0E00-U+0E7F=Sarabun


macos-option-as-alt = true

window-padding-x = 6
window-padding-y = 6
window-padding-balance = true


keybind = global:cmd+semicolon=toggle_quick_terminal
quick-terminal-position = right
keybind = shift+enter=text:\x1b\r
