{{- $agent := "~/.1password/agent.sock" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $agent = "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
{{- end -}}
Host 714Workstation
	HostName 714Workstation
	User pbeam1992
	IdentityAgent none
	ForwardAgent yes

Host *
	IdentityAgent "{{ $agent }}"

Host bitbucket-7peaks
  HostName bitbucket.org
  User git
  IdentityFile ~/.ssh/bitbucket-7peaks.pub

Host bitbucket-appconduct
  HostName bitbucket.org
  User git
  IdentityFile ~/.ssh/bitbucket-appconduct.pub

Host gitlab-appconduct
  HostName gitlab.com
  User git
  IdentityFile ~/.ssh/gitlab-appconduct.pub

Host github-sul-patompong
  HostName github.com
  User git
  IdentityFile ~/.ssh/github-sul-patompong.pub
