preload = {{ .chezmoi.homeDir }}/wallpapers/foggy-night-wallpaper-3840x2160-supernatural-elements-supernatural-28415.jpg

wallpaper = ,{{ .chezmoi.homeDir }}/wallpapers/foggy-night-wallpaper-3840x2160-supernatural-elements-supernatural-28415.jpg

splash = false
